header {
  padding-inline: 1rem;
  box-shadow: 0px 1px 36px -6px #a7a7a752;
  background-color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    ul {
      display: flex;
      gap: 3rem;
      margin: 0;
      padding: 0;

      li {
        font-weight: 600;
        list-style: none;
        padding-block: 1.3rem;
        color: rgba(130, 130, 130, 1);

        a {
          font-weight: inherit;
          text-decoration: none;
          color: inherit;
        }

        &:has(.active) {
          --clr-blue: rgba(47, 128, 237, 1);

          font-weight: 700;
          color: var(--clr-blue);
          border-bottom: 2px solid var(--clr-blue);
        }
      }
    }
  }

  @media (min-width: 600px) {
    padding-inline: 0;
  }
}
