.comment-input-group {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 6px 10px;
  padding-right: 8px;
  border-radius: 8px;
  background-color: rgba(242, 242, 242, 1);

  input {
    font-size: 0.9rem;
    border: none;
    outline: none;
    background-color: transparent;
  }

  input {
    width: 100%;
  }

  button {
    font-size: 10px;
    aspect-ratio: 1;
    padding: 2px 5.5px;
  }
}
