.profile-menu {
  position: relative;
  font-size: 28px;

  &:hover .menu {
    opacity: 100%;
    transform: translateX(40%) translateY(0);
  }

  .user-image img {
    margin-bottom: 0.25rem;
  }

  .menu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    padding: 0.6rem 1rem 1rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 36px -6px #8a888852;
    transform: translateX(40%) translateY(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
}
